.card-navbar {
    width: 100vw;
    height: 60px;
    background: #181c29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fixes navbar to the top */
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 10px;
    box-sizing: border-box;
}

.card-navbar li{
    float:left;
}

.card-navbar img {
    height: 50px;
    width: 50px;
    display: block;
    align-self: center;
}

.card-navbar ul{
    display: flex;
    list-style-type: none;
    background-color: #181c29;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.card-navbar .navbar-items{
    color: #a3f7bf;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
}

.card-navbar a:hover{
    color:#ccfbd9;
    text-shadow: shadow 15px;
}

.navbar-items.logout-button {
    background-color: #181c29;
    color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-items .fa-gear:hover {
    animation: spin-gear 1.5s linear infinite;
}

@keyframes spin-gear {
    100% {
        transform: rotate(360deg);
    }
}
