.login-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;      
    width: 100vw;            
}

.login-container .login-card {
    border: 1px solid #2e3a55;
    background-color: #181c29;
    border-radius: 10px;
    width: 700px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 15px 0 15px;
    box-shadow: 0 0 10px #1a2a3a80;
    transition: 0.15s ease-in-out;

    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
}

.login-input {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #0f131a;
    border: 1px solid #2e3a55;
    color: #a3f7bf;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
    padding: 6px 10px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input:hover,
.login-input:focus {
    outline: none;
    border-color: #747bff;
    box-shadow: 0 0 5px #747bff;
}

.login-label {
    color: #ffffff;
    font-size: 16px;
    align-self: flex-start;
    margin-bottom: 5px;
}

.login-button {
    background: #1a2a3a;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top: 10px;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    
}

.login-button:hover {
    color: #a3f7bf;
    background-color: #1a2233;
    border-color: #747bff;
}

.login-button:focus {
    outline: none;
}

.login-error {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
}

.login-success {
    color: #a3f7bf;
    margin-bottom: 1rem;
    text-align: center;
}